

#gp-payment-status{
   width: 100%;
   height: 100%;
   position: fixed;
   top: 0;
   left: 0;
   bottom: 0;
   right: 0;
   z-index: 9999999;
   display: flex;
   align-items: center;
   justify-content: center;
   background-color: rgba(255,255,255, .2);
   backdrop-filter: blur(16px);
}


[data-gp="pay-btn"]{
   border-radius: 0;
   -webkit-border-radius: 0;
   -moz-border-radius: 0;
   -ms-border-radius: 0;
   -o-border-radius: 0;
}

#gp-payment-status > div{
   padding: 30px 10px;
   width: 400px;
   text-align: center;
   background-color: #fff;
   border: 1px solid rgba(0,0,0,.04);
   border-radius: 8px;
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   -ms-border-radius: 8px;
   -o-border-radius: 8px;
   display: flex;
   gap: 20px;
   flex-direction: column;
}
#gp-payment-status img{
   width: 100px;
}
#gp-payment-status button{
   width: 100%;
   padding: 12px;
   font-size: 14px;
   border-radius: 40px;
   -webkit-border-radius: 40px;
   -moz-border-radius: 40px;
   -ms-border-radius: 40px;
   -o-border-radius: 40px;
}


[data-gp="charge-form"]{
   width: 100%;
   height: 100%;
   position: fixed;
   top: 0;
   left: 0;
   bottom: 0;
   right: 0;
   z-index: 999999;
   align-items: center;
   justify-content: center;
   background-color: rgba(255,255,255, .8);
   backdrop-filter: blur(30px);
   display: none;
}

[data-gp="charge-form"] h3{
   margin-bottom: 20px;
}

#gp-close-popup{
   padding: 0;
   margin: 0;
   background: transparent;
   border: 0;
   width: 40px;
   height: 40px;
   border-radius: 40px;
   -webkit-border-radius: 40px;
   -moz-border-radius: 40px;
   -ms-border-radius: 40px;
   -o-border-radius: 40px;
   position: absolute;
   top: 20px;
   right: 20px;
   color: #444;
   font-size: 35px;
}

.gp-form-container{
   padding: 10px;
   width: 400px;
   background: #fff;
   border: 1px solid #ddd;
   border-radius: 10px;
   padding: 27px;
}

#gp-payment-msg{
   margin: 8px 0;
   padding: 8px;
   border-radius: 5px;
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   -ms-border-radius: 5px;
   -o-border-radius: 5px;
   font-size: 16px;
   font-weight: 500;
   background-color: #2eb342;
   color: #fff;
   display: none;
}

#gp-payment-msg.gp-msg-error{
   background-color: #b32e2e;
}

.gp-product{
   display: flex;
   margin-bottom: 20px;
   gap: 10px;
   border: 1px solid rgba(0,0,0,.04);
   background-color: rgba(255,255,255, 1);
   padding: 10px;
   border-radius: 8px;
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   -ms-border-radius: 8px;
   -o-border-radius: 8px;
}

.gp-product p, .gp-product h3{
   margin: 0;
   padding: 0
}

.gp-product h3{
   font-size: 18px;
   font-weight: 500;
}

.gp-product p{
   color: #999;
   line-height: 20px;
}

.gp-product > div:first-child{
   width: 120px
}
.gp-product > div:first-child img{
   width: 100%;
   border-radius: 8px;
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   -ms-border-radius: 8px;
   -o-border-radius: 8px;
}

.gp-product > div:last-child{
   flex: 1
}

[data-gp="charge-form"] form{
   position: relative
}

[data-gp="charge-form"] form > div.gp-field{
   display: flex;
   padding: 5px;
   gap: 16px
}

[data-gp="charge-form"] form > div > div{
   flex: 1
}

[data-gp="charge-form"] label{
   background-color: transparent!important;
   font-weight: 500;
   font-size: 13px;
   text-transform: uppercase;
   padding: 0!important;
   text-align: left;
   display: block;
}
[data-gp="charge-form"] input{
   padding: 12px;
   outline: 0;
   border: 1px solid rgba(0,0,0,.06);
   border-radius: 6px;
   -webkit-border-radius: 6px;
   -moz-border-radius: 6px;
   -ms-border-radius: 6px;
   -o-border-radius: 6px;
   background: #fff;
   width: 100%;
   font-weight: 600;
}

[data-gp="charge-form"] input[type="submit"]{
   background: #004071;
   padding: 12px;
   margin-top: 16px;
   color: #fff;
   font-weight: 500;
   border-radius: 6px;
   -webkit-border-radius: 6px;
   -moz-border-radius: 6px;
   -ms-border-radius: 6px;
   -o-border-radius: 6px;
}

[data-gp="charge-form"] input[type="submit"]:hover{
   background-color: #033357!important;
   color: #fff!important;
}

[data-gp="charge-form"] input.gp-field-error{
   border-color: #b32e2e;
}



/* Loading Snipit */
.form-loading-box{
   position: absolute;
   z-index: 1;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   justify-content: center;
   align-items: center;
   width: 100%;
   background: rgba(255,255,255, .6);
   border-radius: 8px;
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   -ms-border-radius: 8px;
   -o-border-radius: 8px;
   display: none;
   
}

.form-loading-box div{
   flex: initial!important;
}

.loading-snippit {
   display: inline-block;
   position: relative;
   width: 80px;
   height: 80px;
 }
 .loading-snippit div {
   position: absolute;
   top: 33px;
   width: 13px;
   height: 13px;
   border-radius: 50%;
   background: rgba(0,0,0,.5);
   animation-timing-function: cubic-bezier(0, 1, 1, 0);
 }
 .loading-snippit div:nth-child(1) {
   left: 8px;
   animation: loadingbox1 0.6s infinite;
 }
 .loading-snippit div:nth-child(2) {
   left: 8px;
   animation: loadingBox2 0.6s infinite;
 }
 .loading-snippit div:nth-child(3) {
   left: 32px;
   animation: loadingBox2 0.6s infinite;
 }
 .loading-snippit div:nth-child(4) {
   left: 56px;
   animation: loadingBox3 0.6s infinite;
 }
 @keyframes loadingbox1 {
   0% {
     transform: scale(0);
   }
   100% {
     transform: scale(1);
   }
 }
 @keyframes loadingBox3 {
   0% {
     transform: scale(1);
   }
   100% {
     transform: scale(0);
   }
 }
 @keyframes loadingBox2 {
   0% {
     transform: translate(0, 0);
   }
   100% {
     transform: translate(24px, 0);
   }
 }